<div id="message-<%= message.id %>"
  <% if message.user == current_user %>
    class="my-message"
  <% else %>
    class="message"
  <% end %>>
  <small>
    <strong><%= message.user.first_name %></strong>
    <i>(<%= message.created_at.in_time_zone("Brasilia").strftime("%e/%b às %l:%M %p") %>)</i>
  </small>
  <p><%= message.content %></p>
</div>
