<p>Olá, <%= @user.first_name %>!</p>

<p>Espero que você esteja bem! Quero te dar uma <strong>notícia incrível</strong>: seu pedido de mentoria foi aceito pelo mentor solicitado por você. Parabéns!</p>

<p><%= @mentor.first_name %> é um profissional super experiente e dedicado, com um conhecimento incrível na área em que você está buscando orientação. Tenho certeza de que essa mentoria será uma oportunidade incrível para o seu crescimento pessoal e profissional.</p>

<p>A partir de agora, você já pode se considerar oficialmente dentro do programa de mentoria. Mas, lembre-se, com essa aceitação, também vêm alguns compromissos. É importante que você dedique tempo e esforço para aproveitar ao máximo essa chance. A mentoria é uma via de mão dupla, então é essencial que você se envolva e demonstre interesse ativo para que tudo dê certo.</p>

<p>Agora que seu pedido foi aceito, entre em contato com o seu mentor através do email <strong><%= @mentor.email %></strong> para discutir os próximos passos do programa, como horários, objetivos e expectativas. Esteja preparado(a) para compartilhar informações relevantes sobre suas metas e desafios para facilitar a colaboração.</p>

<p>Se tiver qualquer dúvida ou preocupação ao longo do programa de mentoria, fique à vontade para nos perguntar através do formulário de contato do nosso site. Estamos aqui para te apoiar nessa jornada sempre que você precisar.</p>

<p>Desejo muito sucesso nessa jornada de aprendizado e crescimento. Tenho certeza de que você e o mentor vão formar uma dupla incrível e conquistar resultados fantásticos.</p>

<p>Um abraço,</p>

<p>Equipe Compass</p>
