<p>Olá, <%= @user.first_name %>!</p>

<p>Enviamos o seu pedido de mentoria para <%= @mentor.first_name %>. Agora basta aguardar o aceite do seu pedido. Gostaríamos de ressaltar que, embora tenhamos um grupo talentoso de mentores, a disponibilidade deles pode variar, pois eles também têm compromissos profissionais e limitações de tempo.</p>

<p>Assim que recebermos a aprovação do mentor, entraremos em contato para informá-lo(a) e você poderá começar o processo de mentoria.</p>

<p>Agradecemos por escolher nossa plataforma de mentoria e por confiar nos mentores cadastrados na plataforma para guiá-lo(a) nessa importante jornada. Estamos ansiosos para dar o próximo passo com você.</p>

<p>Se você tiver alguma dúvida ou precisar de assistência adicional, não hesite em entrar em contato conosco por meio de [inserir informações de contato]. Estamos aqui para ajudá-lo(a) da melhor forma possível.</p>

<p>Desejamos a você muito sucesso em sua transição de carreira!</p>

<p>Um abraço,</p>

<p>Compass<br>
