.title {
  color: #C80303;
  font-weight: bold;
}

p {
  margin-bottom: 0px;
}

.container{
  h1{
    font-size: 5em;
  }
}

@media (max-width: 768px) {
  .container{
    h1{
      font-size: 3em;
    }
  }
}
