<div class="footer">
  <div class="container footer-flex">
    <div class="footer-links">
      <a href="https://github.com/gfleibel/compass" target="blank"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div>
       Todos os direitos reservados.
    </div>
    <div class="footer-copyright">
      © 2023 Compass
    </div>
  </div>
</div>
