<div class="container p-5">
  <div class="col-sm-12 row text-sm-start w-100 mb-4">

    <h1 class= "my-3 title pb-4 border-bottom">Código de Conduta</h1>

    <h3 class= mt-4>Assédio</h3>
    <p>Não toleraremos qualquer forma de assédio. Comportamentos de assédio incluem, mas não se limitam a, comentários ofensivos relacionados à identidade (como raça, gênero, orientação sexual, deficiência, etc.), avanços sexuais indesejados, toques físicos, perseguição, comportamento malicioso ou perturbador.</p>
    <p>Qualquer participante que se envolver em assédio será prontamente removido da comunidade, incluindo a exclusão de chamadas e o bloqueio em todas as plataformas de mídia social. Vale ressaltar que nem todo comportamento não acolhedor é considerado assédio. Muitos ambientes tecnológicos apresentam formas mais sutis de comportamento exclusionário. Embora esses comportamentos sejam mais difíceis de identificar, eles ainda podem ser prejudiciais para a comunidade, especialmente para os membros mais novos que ainda estão se adaptando. É importante que todos se esforcem para tratar uns aos outros com gentileza e dignidade.</p>

    <h3 class= "mt-4">Exemplos das Regras de Convívio</h3>

    <div class="d-flex justify-content-center gap-3">
      <div class="card-md w-50">
        <h4 class="fw-bold"><span style="color: rgb(205, 0, 0);">Evite</span> comentários excludentes</h4>
        <p>Exemplo 1:</p>
        <p>André: Acabei de aprender a usar a função map do JavaScript!</p>
        <p class= "mb-4">Mariana: Na verdade, isso é um método do TypeScript.</p>
        <p>Corrigir desnecessariamente os outros pode ser uma forma de exclusão. Esse tipo de comportamento pode ser prejudicial para pessoas que estão no início de suas carreiras e pode desencorajá-las a seguir uma carreira na tecnologia como um todo. Isso vai contra o que estamos tentando alcançar! Dito isso, em situações de mentoria ou compartilhamento de experiências, pode haver eventos da indústria que levem a diferentes opiniões. Nessas situações, é importante ser educado, empático e reconhecer que podemos estar errados, mesmo com anos de experiência.</p>
      </div>
      <div class="card-md w-50">
        <h4 class= "fw-bold"><span style="color: rgb(205, 0, 0);">Evite</span> qualquer forma de discriminação sutil</h4>
        <p>Exemplo 2:</p>
        <p>Pedro: Estou com dificuldades para aprender Python.</p>
        <p class= "mb-4">Carolina: Python é tão fácil que até uma criança de 5 anos poderia aprender!</p>
        <p>Mesmo que você não esteja praticando comportamentos racistas, sexistas, homofóbicos ou qualquer outra forma de exclusão, as palavras que você usa podem transmitir indiretamente esses sentimentos para as pessoas ao seu redor. É importante estar ciente das maneiras pelas quais a opressão está presente na linguagem que usamos diariamente e fazer o nosso melhor para usar uma linguagem inclusiva e motivadora.</p>
      </div>
    </div>


    <h3 class= "mt-4">Se cometer um <span style="color: rgb(205, 0, 0);">erro</span></h3>
    <p>Ninguém é perfeito e todos nós cometemos erros. Se você inadvertidamente disser algo ofensivo para outros membros da comunidade, é importante se desculpar prontamente e buscar aprender com o ocorrido para evitar repetir o mesmo comportamento. Da mesma forma, se você testemunhar alguém cometendo microagressões, informe-os (ou aos organizadores) para que possam ter a oportunidade de aprender com seus erros.</p>
    <p>Ocasionalmente, o uso de linguagem ofensiva de forma acidental não será considerado assédio, e os organizadores farão o possível para mediar conflitos menores. No entanto, casos repetidos ou intencionais serão tratados como assédio e serão motivo para remoção do programa.</p>

    <h3 class= "mt-4">Relato e fiscalização</h3>
    <p>Se você presenciar qualquer violação deste código de conduta durante uma reunião ou dentro da comunidade (por exemplo, por e-mail ou nas redes sociais), entre em contato com a equipe responsável desta plataforma por meio do formulário de contato. Ações rápidas serão tomadas para aplicar o código de conduta, incluindo a mediação de conflitos menores ou a exclusão completa de indivíduos da comunidade.</p>

    <h3 class= "mt-4">Acessibilidade</h3>
    <p>Os organizadores estão comprometidos em atender às necessidades de acessibilidade de todos os participantes.</p>
    <p>Se houver alguma maneira pela qual possamos melhorar a acessibilidade do nosso programa para atender às suas necessidades, entre em contato conosco através da seção "Contato" na plataforma.</p>
  </div>
</div>
