.card{
  padding: 2em;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin-bottom: 1em;
  border: 0;
}

.card-md{
  padding: 2em;
  width: 45%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin-bottom: 1em;
  border: 0;
}

.card-login{
  padding: 2em;
  width: 45%;
  height: max-content;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin: auto auto;
  border: 0;
}

.card-signup{
  padding: 2em;
  width: 45%;
  height: max-content;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin: 2em auto;
  border: 0;
}
