.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.form-input-msg {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
