.message{
  background-color: rgb(233, 233, 233);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  width: 85%;
  margin-left: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.my-message{
  background-color: rgb(231, 254, 235);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  width: 85%;
  margin-left: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
