.message{
  background-color: rgb(233, 233, 233);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  width: 75%;
  margin-left: auto;
}

.my-message{
  background-color: rgb(231, 254, 235);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  width: 75%;
}
