.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item:hover {
  font-weight: bold;
  a {
    color: rgb(146, 0, 0);
  }
}

.dropdown-item:hover {
  color: rgb(146, 0, 0);
}
