.profile-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 24px;
}
.profile-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 24px;
  justify-content: center;
  text-align: center;
}

.profile-section-container.sticky {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile-section {
  img {
  border-radius: 50%;
  height: 280px;
  width: 280px;
  object-fit: cover;
  padding: 50px;
  }
}

.profile-section {
  h3 {
  margin-top: 28px;
  }
}

.profile-section {
  p {
  margin-bottom: 28px;
  }
}

.users-section {
  width: 70%;
  margin: 24px;
}

.users-section {
  h3 {
  margin: 28px 28px;
  }
}
