.user-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 10px;
}

.user-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 36px;
  width: 300px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgb(255, 255, 255);
}


.user-card-img {
  border-radius: 50%;
  object-fit: cover;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card-img {
  img {
    border-radius: 50%;
    object-fit: cover;
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: absolute;
  }
}

.fa-circle-check::before {
  content: "\f058";
  position: relative;
  left: 88px;
  bottom: 69px;
  font-size: 32px;
}

.user-card-header {
  margin-top: 12px;
}

.user-card-header-info {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.user-card-header-info {
  h3 {
    font-size: medium;
  }
}

.user-card-footer {
  // display: flex;
  // justify-content: center;
  padding-bottom: 1em;

}
