<p>Oi, <%= @resource.first_name %>!</p>

<p>Alguém solicitou um link para mudar a sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você que fez essa solicitação, por favor ignore este email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>

<p>Atenciosamente,</p>
<p>Compass</p>
